/*desktop.css*/
/*
* You can delete next content and make your own styles
*/
/*General*/
/* HEADER ------------------------------------------------------------*/

#header{
	min-height: 90vh;
	position: relative;
}


/*navbar*/

.navbar{
	position: fixed;
	width: 100%;
}

.navbar .content{
	min-height: 32px;
	height: 5vh;
	max-height: 128px;
	background-color: rgba(255,255,255,0.9);
	transition: all 0.4s;
	padding:10px;
}

.navbar .content .row{
	height: 100%;
}

.navbar .logo{
	background-position: left;
	background-repeat: no-repeat;
	background-size: contain;
	height: 100%;
	cursor: pointer;
}

.navbar.sticky .content{
	height: 32px
}


.navbar.sticky .logo{
	height: 100%;
}


.navbar .menu{
	align-items: center;
}

.navbar .menu-items{
	width: 100%;
}

.navbar .menu .menu-item{
	margin-left: 10px;
}

#header .hero{
	position: absolute;
	top: 0;
	width: 100%;
	height: 100%;
	align-content: center;
}

#header .hero h1{
	font-size: 5vh
}



/* BODY ------------------------------------------------------------*/

/*link marging in title*/
.target-top-margin{
	padding-top: 5vh;
}


/* FOOTER ------------------------------------------------------------*/
footer{
	background-color: #1c1c1c;
	padding: 5vh 0;
}

footer .container *{
	color: #ccc;
}